/* construction02 */
.projects-section {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 3em;
}

.m_projects-section {
  display: none;
}

@media all and (max-width: 767px) {
  .projects-section {
    display: none;
  }

  .m_projects-section {
    display: block;
  }
}

.projects-section-title {
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 4.5em;
  line-height: 1.8em;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px) 반도체*/
@media all and (max-width: 767px) {
  .projects-section {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3em;
  }

  .projects-section-title {
    font-weight: 600;
    font-size: 0.85em;
    margin-top: 3em;
    margin-bottom: 1em;
    line-height: 1.2em;
  }

  .construction01 {
    display: none;
  }

  .m_constructionbgbox {
    border-top: 30px solid #fa453a;
    border-bottom: 30px solid #fa453a;
    border-left: 20px solid #fa453a;
    border-right: 20px solid #fa453a;
  }

  .m_construction-content {
    margin-bottom: 1em;
  }

  .m_construction-content1 {
    margin-bottom: 1em;
  }

  .contructitle {
    font-weight: 700;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.8em;
    font-style: normal;
  }

  .construction-content-title {
    width: 80%;
    margin: 0 auto;
    font-weight: 700;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 0.8em;
    font-style: normal;
  }

  .construction-content-title1 {
    width: 80%;
    margin: 0 auto;
    font-weight: 700;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 0.8em;
    font-style: normal;
  }

  .construction-content-text {
    width: 80%;
    margin: 0 auto;
    font-size: 0.67em;
    line-height: 1.5em;
    letter-spacing: -0.08em;
    font-weight: 500;
    border-bottom: 2px solid #fa453a;
    padding-bottom: 2em;
  }

  .construction-content-text1 {
    width: 80%;
    margin: 0 auto;
    font-size: 0.67em;
    line-height: 1.5em;
    letter-spacing: -0.08em;
    font-weight: 500;
    padding-bottom: 1em;
  }

  .constructioncontbox02 {
    width: 80%;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 1.5em;
  }

  .constructioncontbox011 {
    border-bottom: 2px solid #fa453a;
  }

  .contrucp {
    font-size: 0.67em;
    line-height: 1.5em;
    letter-spacing: -0.08em;
    font-weight: 500;
  }

  .m_subcontp02 {
    display: block;
    font-size: 0.7em;
    line-height: 1.5em;
    width: 85%;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 2em;
  }

  .m_subcontimg02 {
    height: auto;
    padding-top: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .m_subcontimg02 > img {
    width: 100%;
  }
}

.m_subcontp01,
.m_indestry01info,
.m-construction-section,
.m_construction01,
.m_indestry01info02 {
  display: none;
}

.constructionbgbox01 {  
  margin: 0 auto;
  margin-bottom: 3em;
  width: 100%;
  height: 798px;
  background: url(../../../images/constructionbg01.jpg);
  background-repeat: repeat;
  position: relative;
}

/*.indestry01info02 {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 3em;
}
*/

.indestry01info {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 3em;
}

.subcontp02 {
  font-size: 24px;
  line-height: 1.5em;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 2em;
}

.subcontimg02 {
  height: auto;
  padding: 0;
  margin-top: 3em;
}

/* 구축사례 */
.construction01 {
  width: 1200px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 3em;
}



.constructionbox1 {
  width: 1096px;
  height: 678px;
  background-color: #f5f5f5;
  position: absolute;
  top: 60px;
  left: 52px;
  color: #6d6c6c;
  line-height: 1.3em;
}

.constructionbox2 {
  padding: 40px;
  display: flex;
}

.constructionbox3 {
  padding: 60px;
  display: flex;
}

.constructionbox4 {
  padding: 100px 70px 0px 70px;
  display: flex;
}

.constructioncontbox01 {
  width: 50%;
  padding-right: 40px;
}

.contructitle {
  font-weight: 800;
  font-style: italic;
  padding-bottom: 1em;
}

.contrucp {
  font-size: 0.75em;
  letter-spacing: -1px;
}

.constructioncontbox02 {
  width: 50%;
}

.constructioncontbox03 {
  width: 50%;
}

.constructioncontbox04 {
  width: 50%;
  padding-left: 40px;
}

.construction02 {
  width: 1200px;
  margin: 0 auto;

  margin-bottom: 3em;
}



.constructionbgbox02 {
  width: 100%;
  height: 499px;
  background: url(../../../images/constructionbg02.jpg);
  background-repeat: repeat;
  position: relative;
}

.constructionbox6 {
  width: 1096px;
  height: 379px;
  background-color: #f5f5f5;
  position: absolute;
  top: 60px;
  left: 52px;
  color: #6d6c6c;
  line-height: 1.3em;
}

.constructionbox7 {
  padding: 95px 70px 50px 70px;
  display: flex;
}

.constructioncontbox05 {
  width: 50%;
  padding-right: 40px;
}

.contrucp {
  font-size: 0.75em;
  letter-spacing: -1px;
}

.constructioncontbox06 {
  width: 50%;
}
