.career-section-title {
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 0.7em;
  line-height: 1.8em;
}

.career-boxes-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.career-boxes-container > * {
  margin: 2em 0;
  box-sizing: border-box;
}

.career-box{
  width: 350px;
  position: relative;
  border:1px solid #e2e6ee;
  padding:37px 32px;
}

.career-box h4{
  font-size:1.185em;
  color:#474747;
  font-weight: 800;
}

.career-box .career-list{
  list-style: none;
  margin-top: 40px;
}
.career-box .career-list > li{
  position: relative;
  font-size: 0.85em;
  color:#000;
  margin:8px 0;
  padding-left:12px;
}
.career-box .career-list > li:before{
  display: block;
  content:'';
  position:absolute;
  top:9px;
  left: 0;
  width:4px;
  height:4px;
  background-color: #fe0000;
}
.career-box .career-list > li > ul{
  list-style: none;
  margin-top: 10px;
}
.career-box .career-list > li > ul >li{
  font-size:0.87em;
  color:#6d6c6c;
  padding:3px 0 3px 12px;
}

.career-box h5{
  font-size:0.62em;
  color:#474747;
  display:inline-block;
  padding:7px 10px;
  border:1px solid #e2e6ee;
  background-color: #f4f7f8;
  margin:20px 0 10px;
}

.career-box p{
  position: relative;
  font-size:0.74em;
  color:#6d6c6c;
  padding:3px 0 3px 12px;
}
.career-box p:before{
  display: block;
  content:'';
  position:absolute;
  top:10px;
  left: 0;
  width:3px;
  height:3px;
  background-color: #6d6c6c;
}

.company-career-title {
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 2em;
  line-height: 1.8em;
}

.career-section-description {
  background:#f4f7f8 url('../../images/recruit_1.png') no-repeat right center;
  padding:40px 55px;
  margin-bottom: 1em;
}
.career-section-description:nth-child(2){
  background-image: url('../../images/recruit_2.png')
}
.career-section-description:nth-child(3){
  background-image: url('../../images/recruit_3.png')
}

.career-section-description h4{
  font-size:1.185em;
  color:#474747;
  font-weight: 800;
  margin-bottom:15px;
}
.career-section-list{
  list-style: none;
}
.career-section-list li{
  display: inline-block;
  padding: 15px 35px;
  font-size: 0.815em;
  color:#000;
  background-color: #fff;
  border: 1px solid #e2e6ee;
  margin-right:12px;
}

.career-section-description p{
  font-size: 0.815em;
  color:#000;
}

.career-section-description p.foot-note{
  font-size: 0.74em;
  color:#6d6c6c;
  margin-top:10px;
}

@media all and (max-width: 767px) {
  .career-boxes-container > * {
    font-size: 0.8em;
    margin: 0.5em 0;
  }

  .company-career-title {
    width: 80%;
    font-weight: 800;
    font-size: 0.8em;
    padding-bottom: 1.2em;
    line-height: 1.3em;
    letter-spacing: -1px;
    margin: 0 auto;
  }

  .career-boxes-container{
    padding-bottom:1.5em;
  }

  .career-box .career-list {
    margin-top: 30px;
}

  .career-section-description {
    width: 90%;
    line-height: 1.5em;
    font-size: 0.8em;
    background-position: 50% 30px;
    background-size: 167px;
    padding:140px 30px 30px;
    text-align: center;
  }

  .career-section-list li{
    margin: 0 4px;
    padding:8px 20px;
  }

  .career-section-description p.foot-note{
    margin-top:0;
  }
}
