.certificate-box {
  width: 350px;
  position: relative;
  margin-bottom: 3em;
}

.certificate-box > div > img {
  width: 350px;
  height: 475px;
  object-fit: cover;
}

.certificate-smallbox {
  position: absolute;
  top: 325px;
  left: 0px;
  width: 150px;
  height: 150px;
  background-color: #cdd4e0;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.certificate-smallbox-title {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.certificate-smallbox-year {
  font-size: 0.8em;
}

.certificate-description {
  font-size: 0.7em;
  font-weight: 700;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 0.5em;
  line-height: 1.3em;
  color: #000;
}
