.certificates-section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
}

.certificates-section-title {
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 3em;
  line-height: 1.8em;
}

.certificates-section-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 0;
}

.certificatestext {
  font-size: 0.8em;
}

.certificatestitle {
  line-height: 1.5em;
}

.m_certificates-section {
  display: none;
}


/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .certificates-section {
    display: none;
  }

  .m_certificates-section {
    display: block;
  }

  .m_certificates-box {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 1em;
  }

  .m_certificates-content {
    font-size: 0.7em;
    text-align: left;
    line-height: 1.2em;
    width: 85%;
    margin: 0 auto;
    padding-left: 1em;
  }
  .m_certificates-content li {
    list-style-type: circle;
    margin-top: 0.3em;
  }

  .m_certificates-img {
    text-align: center;
    margin-bottom: 0.5em;
  }

  .m_certificates-title {
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5em;
  }
}