/* 연혁 */

.m_company-history {
  display: none;
}

.company-history {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 3em;
}

.company-history-title {
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 2em;
  line-height: 1.8em;
}

.history-year{
  margin-bottom:100px;
}
.history-year:last-child{
  margin-bottom:0;
}
.history-year::after{
  display:block;
  content:'';
  clear:both;
}

.history-map h3 {
  float:left;
  width:35%;
  font-size:2.796em;
  font-weight:800;
  line-height: 1em;
  margin-bottom: 0.5em;
  letter-spacing:-0.05em;
}

.history-content{
  position:relative;
  float:left;
  width:65%;
  list-style:none;
}
.history-content::before{
  display:block;
  content:'';
  position:absolute;
  top:35px;
  left:7px;
  width:2px;
  height:calc(100% - 70px);
  background:#ccc;
}
.history-content.line_none::before{
  display:none;
}
.history-content li{
  position:relative;
  font-size:0.85em;
  line-height:150%;
  padding:15px 0 15px 67px;
}
.history-content li p{
  color:#999;
}
.history-content li em{
  position:absolute;
  top:16px;
  left:-7px;
  width:31px;
  height:31px;
  background:#fff;
  border-radius:31px;
  padding:7px;
  box-sizing:border-box;
}
.history-content li em::before{
  display:block;
  content:'';
  width:17px;
  height:17px;
  background:#fff;
  border: 4px solid #ff0000;
  border-radius:21px;
  box-sizing:border-box;
}

/* 연혁 : 모바일 가로, 모바일 세로 (해상도 480px ~ 767px) */
@media all and (max-width: 767px) {
  .company-history {
    margin-bottom: 2em;
  }
  .company-history-title {
    width: 80%;
    font-weight: 800;
    font-size: 0.8em;
    padding-top: 1.5em;
    padding-bottom: 1.2em;
    line-height: 1.3em;
    letter-spacing: -1px;
    margin: 0 auto;
  }
  .history-map h3 {
    float:none;
    width:100%;
    font-size:1.3em;
    margin-bottom:0.5em;
    text-align:center;
  }
  .history-year{
    margin-bottom:1.5em;
  }
  .history-content{
    float:none;
    width:90%;
    margin:0 auto;
  }
  .history-content::before{
    top:10px;
    left:5px;
    height:calc(100% - 20px);
  }
  .history-content li{
    position:relative;
    font-size:0.7em;
    padding:3px 0 3px 25px;
  }
  .history-content li em{
    position:absolute;
    top:3px;
    left:-5px;
    width:22px;
    height:22px;
    padding:5px;
  }
  .history-content li em::before{
    width:12px;
    height:12px;
    border-width: 3px;
  }
}
