.company-info {
  padding-top: 2em;
  padding-bottom: 3em;
  text-align: center;
}

.company-info-title {
  font-weight: 700;
  padding-bottom: 2em;
}

.company-info-text-wrap {
  margin: 0 auto;
  text-align: left;
  width: 69%;
}

.company-info-text {
  line-height: 1.5em;
  font-size: 0.9em;
  margin-bottom: 1em;
}



/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .company-info {
    width: 100%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 1em;
  }

  .company-info-title {
    font-size: 0.9em;
  }

  .company-info-text-wrap {
    width: 90%;
  }

  .company-info-text {
    font-size: 0.7em;
  }

  .insighton-special-section {
    background-color: #f2f1f1;
  }
}