.insighton-special-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.insighton-special-box {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.insighton-special-box-1 {
  text-align: left;
}

.insighton-special-box-2 {
  text-align: center;
}

.insighton-special-box-3 {
  text-align: right;
}

.insighton-special-box-image {
  margin-bottom: 2em;
}

.insighton-special-box-1>.insighton-special-box-image {
  margin-bottom: 1em;
}

.insighton-special-box-title {
  font-size: 1.3em;
  margin-bottom: 0.1em;
  font-weight: 800;
}

.insighton-special-box-description {
  font-size: 0.9em;
  line-height: 1.5em;
  margin-top: 1em;
}

.m_insighton-special-box-description {
  display: none;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .insighton-special-container {
    display: inline;
    position: relative;
  }

  .insighton-special-box {
    min-width: 300px;
    display: flex;
    flex-direction: column;
  }

  .insighton-special-box-1 {
    text-align: center;
  }

  .insighton-special-box-2 {
    text-align: center;
  }

  .insighton-special-box-3 {
    text-align: center;
  }

  .insighton-special-box-image {
    display: none;
  }

  .insighton-special-box-title {
    font-size: 0.9em;
    margin-bottom: 0.5em;
    font-weight: 700;
    color: #fa453a;
  }

  .m_insighton-special-box-description {
    display: block;
    width: 85%;
    margin: 0 auto;
    font-size: 0.7em;
    line-height: 1.5em;
    padding: 0 1em 2em 1em;
  }

  .insighton-special-box-description {
    display: none;
  }
}