.news-section-title {
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 0.7em;
  line-height: 1.8em;
}

.news-boxes-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.news-boxes-container > * {
  margin: 2em 0;
}

.news-section-description {
  text-align: center;
  margin-bottom: 4em;
  line-height: 1.5em;
  font-size: 0.9em;
}

@media all and (max-width: 767px) {
  .news-boxes-container > * {
    margin: 0.5em 0;
  }

  .news-section-description {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2em;
    line-height: 1.5em;
    font-size: 0.8em;
  }
}
