.news-box {
  width: 350px;
  height: 490px;
  position: relative;
}

.news-box-tag {
  width: 50px;
  height: 50px;
  background-color: #ff0000;
  color: #fff;
  font-size: 0.8em;
  font-weight: 100;
  padding: 10px;
  line-height: 53px;
  text-align: center;
  position: absolute;
  z-index: 2;
}

.news-box-image-container {
  width: 350px;
  height: 350px;
  position: absolute;
  z-index: 1;
}

.news-box-image-wrapper {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.news-box-image-wrapper > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: transform 1.5s;
}

.news-box-image-wrapper:hover > img {
  transform: translate(-50%, -50%) scale(1.2);
}

.news-box-text-wrapper {
  position: absolute;
  top: 360px;
  cursor: pointer;
}

.news-box-text-wrapper a {
  text-decoration: none;
}

.news-box-text-wrapper h4 {
  font-size: 0.97em;
  margin-bottom: 0.5em;
}

.news-box-text-wrapper p {
  font-size: 0.9em;
  color: #666565;
}

.news-box-bottom {
  width: 350px;
}

.news-box-date {
  font-size: 0.8em;
  color: #666565;
  margin-top: 1em;
  float: left;
  width: 300px;
}

.news-box-linkbutton {
  float: right;
  width: 49px;
  height: 46px;
  background-image: url(../../images/linkbutton.png);
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}

.news-box-text-wrapper:hover .news-box-linkbutton {
  width: 49px;
  height: 46px;
  background-image: url(../../images/linkbutton_hover.png);
  background-repeat: no-repeat;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .news-box-text-wrapper p {
    font-size: 0.7em;
    line-height: 1.3em;
  }

  .news-box-date {
    font-size: 0.7em;
    font-weight: 100;
  }
}
