/* 조직도 */
.or_chart {
  padding-top: 3em;
  padding-bottom: 3em;
}

.system {
  background: url(../../images/maptree.png);
  background-repeat: no-repeat;
  width: 1619px;
  height: 562px;
  display: table;
  margin: 0 auto;
}

.systemlist {
  list-style: none;
  position: relative;
}

.system p {
  position: relative;
  left: 22.2em;
  display: table-cell;
  vertical-align: middle;
  width: 420px;
  height: 67px;
  background: #ff0000;
  text-align: center;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.in01 {
  position: relative;
  left: 37.7em;
  top: 6.7em;
  display: table-cell;
  vertical-align: middle;
  width: 300px;
  margin: 0 auto;
  background: #e1e7f1;
  height: 65px;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
  color: #000;
  font-weight: 400;
}

.in07 {
  position: absolute;
  right: 37.7em;
  top: 9.18em;
  display: table-cell;
  vertical-align: middle;
  width: 300px;
  margin: 0 auto;
  background: #e1e7f1;
  height: 65px;
  line-height: 65px;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
  color: #000;
  font-weight: 400;
}

.in02 {
  position: relative;
  top: 16.5em;
  right: 9.5em;
  display: table-cell;
  vertical-align: middle;
  width: 300px;
  margin: 0 auto;
  background: #e1e7f1;
  height: 65px;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
  color: #000;
  font-weight: 400;
}

.in03 {
  position: relative;
  right: 7em;
  top: 16.5em;
  display: table-cell;
  vertical-align: middle;
  width: 300px;
  margin: 0 auto;
  background: #e1e7f1;
  height: 65px;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
  color: #000;
  font-weight: 400;
}

.in04 {
  position: relative;
  right: 4.6em;
  top: 16.5em;
  display: table-cell;
  vertical-align: middle;
  width: 300px;
  margin: 0 auto;
  background: #e1e7f1;
  height: 65px;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
  color: #000;
  font-weight: 400;
}

.in05 {
  position: relative;
  right: 2.7em;
  top: 16.5em;
  display: table-cell;
  vertical-align: middle;
  width: 300px;
  margin: 0 auto;
  background: #e1e7f1;
  height: 65px;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
  color: #000;
  font-weight: 400;
}

.in06 {
  position: relative;
  right: 1em;
  top: 16.5em;
  display: table-cell;
  vertical-align: middle;
  width: 300px;
  margin: 0 auto;
  background: #e1e7f1;
  height: 65px;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
  color: #000;
  font-weight: 400;
}

/* 조직도 : 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .or_chart {
    display: none;
  }

  .system {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .systemlist {
    list-style: none;
    position: absolute;
  }

  .system p {
    width: 200px;
    height: 30px;
    background: #ff0000;
    text-align: center;
    font-size: 0.7em;
    color: #fff;
    font-weight: 500;
    position: relative;
    left: 5.7em;
    top: -0.5em;
  }

  .in01 {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    background: #f5f5f5;
    text-align: center;
    font-size: 0.7em;
    color: #000;
    font-weight: 400;
    position: absolute;
    left: 5.7em;
    top: 1.8em;
  }

  .in02 {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    background: #f5f5f5;
    text-align: center;
    font-size: 0.7em;
    color: #000;
    font-weight: 400;
    position: absolute;
    top: 4em;
    left: 5.7em;
  }

  .in03 {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    background: #f5f5f5;
    text-align: center;
    font-size: 0.7em;
    color: #000;
    font-weight: 400;
    position: absolute;
    left: 5.7em;
    top: 6.2em;
  }

  .in04 {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    background: #f5f5f5;
    text-align: center;
    font-size: 0.7em;
    color: #000;
    font-weight: 400;
    position: absolute;
    left: 5.7em;
    top: 8.3em;
  }

  .in05 {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    background: #f5f5f5;
    text-align: center;
    font-size: 0.7em;
    color: #000;
    font-weight: 400;
    position: absolute;
    left: 5.7em;
    top: 10.4em;
  }

  .in06 {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    background: #f5f5f5;
    text-align: center;
    font-size: 0.7em;
    color: #000;
    font-weight: 400;
    position: absolute;
    left: 5.7em;
    top: 12.6em;
  }
}
