.industry-section-title {
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 2em;
  line-height: 1.8em;
}

.industry-section-1 {
  max-width: 1680px;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.industry-section-1-img {
  float: left;
  width: 25%;
}

.industry-section-1-content {
  float: left;
  width: 53%;
  height: auto;
  margin-left: 7em;
  font-size: 0.8em;
  line-height: 1.5em;
}

.industry-section-2 {
  max-width: 1200px;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.industry-section-2-content {
  font-size: 24px;
  line-height: 1.5em;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.m_industry-section-1-content,
.m_industry-section-2-content {
  display: none;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px) 반도체*/
@media all and (max-width: 767px) {
  .industry-section-1-img,
  .industry-section-1-content,
  .industry-section-2-content {
    display: none;
  }

  .industry-section-title {
    width: 80%;
    font-size: 0.8em;
    line-height: 1.3em;
    letter-spacing: -1px;
    margin: 0 auto;
  }

  .industry-section-1 {
    height: auto;
    margin: 0 auto;
    padding: 0;
  }

  .m_industry-section-1-content {
    display: block;
    width: 85%;
    font-size: 0.7em;
    line-height: 1.5em;
    margin: 2em auto;
  }

  .industry-section-2 {
    background-color: #f2f1f1;
    height: auto;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 0;
  }

  .m_industry-section-2-content {
    display: block;
    width: 85%;
    font-size: 0.7em;
    line-height: 1.5em;
    margin: 2em auto;
    text-align: left;
  }
}
