/* 찾아오시는 길 */
.mapinsighton {
  text-align: center;
  padding-bottom: 3em;
  line-height: 1.5em;
}

.mapinsightontext {
  width: 40%;
  margin: 0 auto;
  margin-top: 3em;
  font-size: 0.85em;
  text-align: left;
}

.kakao-map-img {
  object-fit: cover
}

/* 찾아오시는 길 : 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .mapinsighton {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 3em;
    line-height: 1.5em;
  }

  .mapinsightontext {
    width: 80%;
    margin: 0 auto;
    margin-top: 3em;
    font-size: 0.7em;
    text-align: left;
    padding: 0 10px 0 10px;
  }
}