@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html {
  padding: 0;
  margin: 0;
  font-size: 27px;
  font-family: "NanumSquare";
}

body {
  width: 100%;
}

.section {
  padding-top: 2em;
  padding-bottom: 2em;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}


/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .mobile-hidden {
    display: none;
  }
}