/* 여백 초기화 */
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
input,
fieldset,
legend,
p,
select,
dl,
dd,
dt,
ol,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
