@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.title {
  font-weight: 800;
  font-size: 2em;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 800;
}

.red {
  color: #ff0000;
}

.align2pas {
  text-align: center;
  margin-bottom: 4em;
  line-height: 1.5em;
  font-size: 0.9em;
}

.title_l {
  font-weight: 800;
  font-size: 2em;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.title_h3 {
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 2em;
  line-height: 1.8em;
}



/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .title_h3 {
    width: 80%;
    font-weight: 800;
    font-size: 0.8em;
    padding-top: 1.5em;
    padding-bottom: 1.2em;
    line-height: 1.3em;
    letter-spacing: -1px;
    margin: 0 auto;
  }


}
