.footer-container {
  width: 100%;
  background-color: #1c1c1c;
  color: #fff;
}

.footer-containerbox {
  text-align: center;
}

.footer-container a {
  color: #fff;
  text-decoration: none;
}

.footer-container a:hover {
  color: #999;
  border-bottom: 1px solid #999;
  padding-bottom: 0.2em;
  transition: all 0.3s ease;
}

.footer {
  text-align: center;
  font-size: 0.7em;
  padding-top: 3em;
}

.footer li {
  position: relative;
  display: inline;
  padding: 0 7px 0 10px;
  white-space: nowrap;
}

.footer li:before {
  content: "";
  width: 1px;
  height: 19px;
  background-color: #6d6c6c;
  position: absolute;
  left: 0;
  top: 2px;
}

.footer li:first-child:before {
  width: 0;
}

.footer address {
  font-style: unset;
  padding-top: 70px;
  line-height: 1.7em;
  padding-bottom: 4em;
}

.footer address > div {
  position: relative;
}

.footer .link_m{
  display: block;
  cursor: pointer;
  
  margin:0 auto;
  width:300px;
  height:60px;
  line-height:38px;
  border:1px solid #494949;
  font-size:2.5em;
}

.footer .link_m::before{
  display: inline-block;
  content:'';
  width:25px;
  height:60px;
  background:url('../../images/mobile.png') no-repeat left center;
  vertical-align: middle;
}

.footer .link_m:hover{
  color:#999;
  border: 1px solid #999;
  padding-bottom:0;
}

.footer .link_m:hover::before{
  opacity:60%;
}

.footmenubox {
  text-align: center;
}

.footermenu {
  display: inline-block;
  vertical-align: top;
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 5em;
}

.footermenu li {
  list-style: none;
  font-size: 0.75em;
  font-weight: 300;
  line-height: 1.6em;
}

.footermenu .title {
  font-size: 0.8em;
  line-height: 3em;
  font-weight: 400;
}

.footermenu1 {
  display: inline-block;
  vertical-align: top;
  padding-top: 4em;
  padding-bottom: 4em;
}

.footermenu1 li {
  list-style: none;
  font-size: 0.75em;
  font-weight: 300;
  line-height: 1.6em;
}

.footermenu1 .title {
  font-size: 0.8em;
  line-height: 3em;
  font-weight: 400;
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: #6d6c6c;
}

address > div img {
  margin-top: 1.5em;
}

.m_footer {
  display: none;
}
@media all and (max-width: 1200px) {
.footer .link_m{
  margin:0;
  right:20px;
}
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .footer-container {
    width: 100%;
    background-color: #1c1c1c;
  }

  .footmenubox {
    display: none;
  }

  .footer-line {
    width: 100%;
    height: 1px;
    background-color: #6d6c6c;
  }

  .m_footer {
    display: block;
    font-size: 0.6em;
    font-weight: 100;
    padding: 2em;
    line-height: 1.8em;
    color: #999;
  }

  .m_footer .footerlogo > img {
    display: block;
    width: 45%;
    position: relative;
    top: 20px;
    /*left: 90px; 가운데정렬 */
    left:-15px;
  }

  .footer {
    display: none;
  }

  .footerlogo {
    position: relative;
  }
  
  .footerlogo .link_m{
    display: block;
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 100px;
    height: 35px;
    line-height: 33px;
    border: 1px solid #494949;
    font-size: 14px;
    text-align: center;
  }
  
  .footerlogo .link_m::before{
    display: inline-block;
    content:'';
    width: 25px;
    height: 33px;
    background: url('../../images/pc.png') no-repeat left center/19px;
    vertical-align: middle;
  }
  
  .footerlogo .link_m:hover{
    color: #999;
    border: 1px solid #999;
    padding-bottom: 0;
  }
  
  .footerlogo .link_m:hover::before{
    opacity:60%;
  }
}
