/* 메인메뉴 */
.header {
  max-width: 1200px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-logo {
  padding-left: 1em;
  margin-right: 2em;
}

.dropdown-menu {
  width: 100%;
}

.dropdown-menu .menu-items {
  display: flex;
  align-items: center;
  height: 150px;
}

.dropdown-menu .menu-items div {
  font-weight: 700;
  font-size: 0.8em;
}

.dropdown-menu .menu-items div a {
  text-decoration: none;
  color: #a6a3a3;
}

.dropdown-menu .menu-items div a:hover {
  color: #5a5d5a;
  border-bottom: 1px solid #ff0000;
  padding-bottom: 0.2em;
  transition: all 0.3s ease;
}

.dropdown-menu .menu-items .menu-item+.menu-item{
  margin-left: 2.5em;
}

.header-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
}

.header-icon div+div {
  margin-left: 0.5em;
}

.header-icon>div img {
  width: 85%;
}

.m_dropdown-menu,
.dropdown-menu .m_dropdown-menu_close,
.m_header-logosmall,
.m_header-icon {
  display: none;
}

/* 드랍메뉴 */
.dropdown-menu-content {
  display: none;
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 430px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 0.7em;
  line-height: 1.8em;
  z-index: 99;
}

.dropdown-menu:hover .dropdown-menu-content {
  display: block;
}

.dropdown-menu-box {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3em;
}

.dropmenutitle {
  color: #fff;
  padding-bottom: 0.7em;
  font-weight: 700;
}

.dropdown-menu-box-content {
  width: 20%;
  text-align: center;
}

.dropdown-menu-box-content ul li {
  list-style: none;
}

.dropdown-menu-box-content a {
  color: #fff;
  text-decoration: none;
  font-weight: 100;
}

.dropdown-menu-box-content a:hover {
  color: #fff;
  line-height: 1.5em;
  border-bottom: 1px solid #ff0000;
}

.dropdown-menu-box-content a .dropmenutitle:hover {
  border-bottom: 1px solid #ff0000;
}


/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {

  .dropdown-menu .menu-items,
  .header-logo,
  .header-icon {
    display: none;
  }

  .header {
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
  }

  .m_dropdown-menu {
    display: block;
    width: 32px;
    height: 14px;
    position: relative;
    border-top: 2px solid #ff0000;
    border-bottom: 2px solid #ff0000;
    color: transparent;
    padding-top: 4px;
    cursor: pointer;
    z-index: 99;
    top: 35px;
    left: 30px;
  }

  .m_dropdown-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ff0000;
    margin-top: -1px;
  }


  /* 모바일메뉴 */
  .m_dropdown-menu,
  .dropdown-menu .m_dropdown-menu_close {
    display: block;
  }

  .dropdown-menu {
    margin-left: auto;
    display: flex;
  }

  .m_header-logosmall {
    display: block;
    transform: translateX(-50%);
    padding: 0;
    position: absolute;
    left: 105px;
    top: 40px;
  }

  .dropdown-menu-content {
    border-right: 2px solid #fa453a;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    line-height: 1.4em;
    z-index: 99;
    position: relative;
    top: 0;
    left: -32px;
  }

  .dropdown-menu .m_dropdown-menu_close {
    width: 16px;
    height: 16px;
    color: transparent;
    background: url(../../images/icon_close.png);
    background-repeat: no-repeat;
    z-index: 99;
    position: absolute;
    top: 38px;
    right: 40px;
    cursor: pointer;
  }

  .dropdown-menu .menu-items {
    font-weight: 100;
  }

  .dropdown-menu-box {
    display: block;
    margin-top: 40px;
  }

  .dropmenutitle {
    color: #fff;
    font-weight: 500;
    font-size: 0.9em;
    width: 80%;
    height: 17px;
    background-color: #fa453a;
    margin: 0 auto;
  }

  .dropdown-menu-box-content {

    width: 100%;
    background-color: rgba(255, 255, 255);
    border-right: 2px solid #fa453a;
  }

  .m_header-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    z-index: 99;
    margin-top: 3em;
    margin-bottom: 2em;
  }

  .m_header-icon>div {
    margin: 0 auto;
    text-align: center;
  }

  .m_header-icon>div p {
    font-size: 0.8em;
  }

  .dropdown-menu-box-content ul {
    list-style: none;
    padding-top: 20px;
  }

  .dropdown-menu-box-content ul>div {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto;
    padding-top: 10px;
  }

  .dropdown-menu-box-content ul>div li {
    list-style: none;
    text-align: left;
  }

  .dropdown-menu-box-content ul>div li a {
    color: #444;
    font-size: 0.8em;
    font-weight: 800;
    text-decoration: none;

  }

  .dropdown-menu-box-content a {
    color: #444;
    text-decoration: none;
    font-weight: 800;
  }

  .dropdown-menu-box-content a:hover {
    color: #000;
    line-height: 1.2em;
    font-weight: 800;
    border: 0;
  }

  .dropdown-menu-box-content a .dropmenutitle:hover {
    color: #000;
    line-height: 1.2em;
    font-weight: 800;
    border: 0;
  }
}