/* 수행실적 고객사 */
.accomplish_box {
  margin: 0 auto;
  padding-bottom: 2em;
}

.accomplish_title {
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 2em;
  line-height: 1.8em;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px) 반도체*/
@media all and (max-width: 767px) {
  .accomplish_box {
    margin: 0 auto;
    padding-bottom: 2em;
  }

  .accomplish_title {
    font-weight: 600;
    font-size: 0.9em;
    line-height: 1.3em;
  }
}
