.accomplishment-tab-section {
  width: 1200px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 3em;
}

.accomplishment-tab-section-title {
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 3em;
  line-height: 1.8em;
}

.accomplishment-tab-box-bg {
  width: 1200px;
  min-height: 900px;
  /*background: url(../../images/solutionbg1.jpg);
  background-repeat: repeat;*/
  position: relative;
}

.accomplishment-tab-box-bg:before{
  display: block;
  content: '';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:385px;
  border:52px solid #9e9c9d;
  border-width:60px 52px 0 52px;
  box-sizing: border-box;
}
.accomplishment-tab-box-bg:after{
  display: block;
  content: '';
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:385px;
  border:52px solid #9e9c9d;
  border-width:0 52px 60px 52px;
  box-sizing: border-box;
}
.accomplishment-tab-box-no-bg {
  width: 1096px;
  /*height: 780px;*/
  background-color: #fff;
  /*position: absolute;
  top: 60px;
  left: 52px;*/
  padding:60px 52px;
  color: #474747;
  line-height: 1.3em;
  z-index: 100;
}

.accomplishment-tab-box-inside {
  max-width: 100%;
  margin: 1em;
  position:relative;
}

.accomplishment-tab-labels-wrapper {
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: calc(100% - 4em);
  margin: auto;
  border-bottom: 1px solid #e4e3e3;
  position:absolute;
  top: -100px;
  left: 2em;
}

.accomplishment-tab-label {
  width: 230px;
  height: 100px;
  font-size: 0.9em;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
}

.accomplishment-tab-content-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  padding-left: 1.3em;
  margin-top:calc(1em + 100px);
}

.accomplishment-tab-content {
  width: 45%;
  padding-bottom: 0.2em;
}

.accomplishment-tab-content-title {
  font-size: 1.3em;
  font-weight: 800;
  padding-top: 2.2em;
  padding-bottom: 0.5em;
  font-style: italic;
}

.accomplishment-tab-content-text {
  font-size: 0.75em;
  letter-spacing: -0.055em;
}

.accomplishment-tab-content-text ul li {
  list-style: none;
}

.m_accomplishment-tab-section {
  display: none;
}

.tag{
  display: inline-block;
  font-size:0.9em;
  line-height: 150%;
  padding:0 12px;
  background-color: #f4f7f8;
  border: 1px solid #e2e6ee;
  margin-left:5px;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px) 반도체*/
@media all and (max-width: 767px) {
  .accomplishment-tab-section {
    display: none;
  }

  .m_accomplishment-tab-section {
    display: none;
    background: #f2f1f1;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .accomplishment-tab-section-title {
    font-weight: 600;
    font-size: 0.9em;
    line-height: 1.3em;
    margin-bottom: 2em;
  }
}

.m_accomplishment-sub-section {
  margin: 0 auto;
  width: 90%;
}

.m_accomplishment-sub-title {
  padding-bottom: 0.1em;
  border-bottom: 1px solid red;
  margin-bottom: 0.5em;
  font-size: 0.9em;
}

.m_accomplishment-year {
  font-weight: 500;
  font-size: 0.8em;
  text-align: left;
  color: #474747;
  margin-bottom: 0.2em;
}

.m_accomplishment-content {
  font-size: 0.7em;
  line-height: 1.5em;
  padding-bottom: 1em;
  width: 95%;
  margin: 0 auto;
}
