.best-solution-section {
  height: 570px;
  background-color: #fa453a;
}

.best-solution-section>.container {
  padding-top: 2em;
  height: 570px;
  background: url("../../images/bg_sm.jpg");
  background-repeat: no-repeat;
}

.smallt {
  color: #feef01;
  font-size: 0.8em;
  padding-top: 1.5em;
}

.title_l1 {
  font-weight: 800;
  font-size: 1.8em;
  line-height: 1.3em;
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 1.7em;
  color: #fff;
}

.align2w {
  text-align: left;
  line-height: 140%;
  color: #fff;
  font-size: 0.9em;
}

.m_align2w,
.m_title_l1 {
  display: none;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .best-solution-section {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 2em;
  }

  .best-solution-section>.container {
    padding-top: 2.5em;
    padding-bottom: 0.5em;
    height: auto;
  }

  .smallt {
    font-size: 0.7em;
    padding-top: 0.1em;
    padding-left: 2.5em;
  }

  .m_title_l1 {
    display: block;
    width: 80%;
    font-weight: 800;
    font-size: 1.5em;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-align: left;
    margin-top: 0.7em;
    margin-left: 0.5em;
    margin-bottom: 1.2em;
    color: #fff;
    padding-left: 0.5em;
  }

  .title_l1 {
    display: none;
  }

  .m_align2w {
    display: block;
    width: 80%;
    text-align: left;
    line-height: 140%;
    color: #fff;
    font-size: 0.7em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .align2w {
    display: none;
  }
}