/* As well, INSIGHT ON! */
.home-development-section {
  overflow: hidden;
  width: 100%;
  height: auto;
  padding-top: 2em;
  margin: 0 auto;
  max-width: 1200px;
}

.home-development-content3box {
  display: flex;
  justify-content: space-between;
}

.home-development-content-box {
  width: 100%;
  text-align: center;
}

.home-development-content-title {
  color: #000;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 0.9em;
}

.home-development-content-image {
  max-width: 370px;
}

.home-development-content-description {
  margin-bottom: 4em;
  line-height: 1.3em;
  font-size: 0.85em;
  color: #666;
}

.m_align2pas {
  display: none;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .home-development-section {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 1em;
  }

  .home-development-content3box {
    display: block;
    position: relative;
    top: -30px;
  }

  .home-development-content-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 600;
    font-size: 0.8em;
  }

  .home-development-content-image {
    width: 100%;
  }

  .home-development-content-description {
    margin-bottom: 2em;
    line-height: 1.3em;
    font-size: 0.7em;
  }

  .m_align2pas {
    display: block;
    width: 85%;
    text-align: center;
    margin-bottom: 4em;
    line-height: 1.5em;
    font-size: 0.7em;
    margin: 0 auto;
    padding-bottom: 3em;
  }

  .align2pas {
    display: none;
  }

  .title_l {
    font-weight: 800;
    font-size: 1.2em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}