.main-slide-container {
  width: 100%;
  font-size: 1em;
}

.main-slide-text-wrapper-1 {
  width: 100%;
  text-align: center;
  padding-top: 8em;
}

.main-slide-text-wrapper-2 {
  width: 100%;
  text-align: center;
  padding-top: 10em;
}

.main-slide-text-wrapper-3 {
  width: 100%;
  text-align: center;
  padding-top: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-slide-text-title {
  color: #ff0000;
  padding-bottom: 0.5em;
  font-family: "Oswald", sans-serif;
  font-size: 2.4em;
  letter-spacing: -1px;
}

.main-slide-text-wrapper-2 > .main-slide-text-title {
  font-size: 4em;
}

.main-slide-text-small {
  font-weight: 700;
  font-size: 0.9em;
  line-height: 1.5em;
  color: #fd5a01;
}

.m_main-slide-text-small,
.m_main-slide-text-title1 {
  display: none;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .main-slide-container {
    width: 100%;
    font-size: 1em;
  }

  .main-slide-text-wrapper-1 {
    padding-top: 6.5em;
  }

  .main-slide-text-wrapper-2 {
    padding-top: 10.5em;
  }

  .main-slide-text-wrapper-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 6em;
  }

  .main-slide-text-wrapper-1 > .m_main-slide-text-title1 {
    display: block;
    color: #ff0000;
    padding-bottom: 1em;
    font-family: "Oswald", sans-serif;
    font-size: 1.7em;
    letter-spacing: -1px;
    line-height: 1.4em;
  }

  .main-slide-text-wrapper-1 > .main-slide-text-small {
    font-weight: 500;
    font-size: 0.6em;
    line-height: 1.7em;
  }

  .main-slide-text-wrapper-2 > .main-slide-text-title {
    font-size: 2em;
  }

  .main-slide-text-wrapper-2 > .m_main-slide-text-small {
    display: block;
    font-weight: 500;
    font-size: 0.6em;
    line-height: 1.7em;
    padding-bottom: 1em;
    color: #fd5a01;
  }

  .main-slide-text-wrapper-3 > img {
    margin-left: 5em;
  }

  .main-slide-text-wrapper-3 > .main-slide-text-small {
    font-weight: 500;
    font-size: 0.6em;
    line-height: 1.2em;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
  }

  .main-slide-text-wrapper-2 > .main-slide-text-small,
  .main-slide-text-wrapper-1 > .main-slide-text-title {
    display: none;
  }
}
