.main-news-section {
  margin: 0 auto;
  max-width: 1200px;
}

.main-news-boxes-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.main-news-boxes-container>* {
  margin: 2em 0;
}

.main-news-title {
  font-weight: 800;
  font-size: 2em;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {

  .main-news-section {
    margin: 0 auto;
    position: relative;
    top: -50px
  }

  .main-news-boxes-container {
    flex-direction: column;
    position: relative;
    top: -40px
  }

  .main-news-title {
    font-size: 1.2em;
    position: relative;
    margin-bottom: 1.5em;
  }

  .main-news-boxes-container>* {
    margin: 0.5em 0;
  }
}