/* Reference */
.main-reference-section {
  padding-top: 1.5em;
  padding-bottom: 4em;
  margin: 0 auto;
  background: #f2f1f1;
  margin-top: 3em;
}

.main-reference-row {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.main-reference-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 150px;
}

.main-reference-logo {
  width: 95%;
}

/* 레퍼런스 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .main-reference-section {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
    margin: 0 auto;
    background: #f2f1f1;
  }

  .main-reference-row {
    width: 91%;
    margin: 0 auto;
    padding-top: 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-reference-row > * {
    padding-top: 1em;
  }

  .main-reference-img-box {
    padding-bottom: 0.7em;
  }

  .title_l {
    font-weight: 800;
    font-size: 1.2em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .main-reference-logo {
    width: 100%;
  }
}
