/* 고객지원 */
.home-support-section {
  width: 100%;
  height: 656px;
  background: url(../../images/bg_customer.jpg);
  margin: 0 auto;
}

.home-support-container {
  padding-top: 6em;
}

.home-support-title {
  font-weight: 720;
  font-size: 2em;
  text-align: center;
  color: #fff;
  margin-bottom: 0.5em;
}

.home-support-text {
  text-align: center;
  margin-bottom: 4em;
  line-height: 140%;
  color: #fff;
  font-size: 0.9em;
}

.m_home-support-text {
  display: none;
}

/* 고객지원-버튼 */
.home-support-btn {
  width: 30%;
  background-color: #ff0000;
  height: 80px;
  line-height: 78px;
  text-align: center;
  margin: 0 auto;
  display: flex;
}

.home-support-btn-text {
  text-align: center;
  background-color: #ff0000;
  font-size: 1em;
  font-weight: 800;
  color: #fff;
  margin: auto;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .home-support-section {
    height: auto;
    padding-bottom: 3em;
    position: relative;
  }

  .home-support-container {
    padding-top: 3em;
  }

  .home-support-title {
    font-weight: 600;
    font-size: 1.2em;
  }

  .m_home-support-text {
    display: block;
    text-align: center;
    margin-bottom: 3em;
    line-height: 140%;
    color: #fff;
    font-size: 0.7em;
    font-weight: 100;
  }

  /* 고객지원-버튼 */
  .home-support-btn {
    width: 50%;
    height: 40px;
    line-height: unset;
  }

  .home-support-btn-text {
    font-size: 0.7em;
    font-weight: 500;
  }

  .home-support-text {
    display: none;
  }
}