.home-why-section {
  padding-top: 2em;
  padding-bottom: 5em;
}

.home-why-title {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .home-why-section {
    padding-top: 0;
    padding-bottom: 1em;
  }

  .home-why-title {
    margin-bottom: 2em;
  }

  .home-why-title .title {
    display: block;
    font-size: 1.2em;
    letter-spacing: -0.04em;
  }
}