.solution-section-title {
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 2em;
  line-height: 1.8em;
}

.solution-section-1 {
  max-width: 1200px;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.solution-section-1-wrapper {
  width: 98%;
  display: flex;
}

.solution-section-1-img {
  text-align: center;
  flex: 0 0 300px;
}

.solution-section-1-img>img {
  width: 100%;
}

.solution-section-1-content {
  width: 100%;
  margin-left: 1em;
  font-size: 0.8em;
  line-height: 1.5em;
}

.solution-section-2 {
  max-width: 1200px;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.solution-section-2-content {
  font-size: 1em;
  line-height: 1.5em;
  width: 99%;
  margin: 0 auto;
  text-align: center;
}

.solution-section-2-img {
  width: 99%;
  margin: 0 auto;
  text-align: center;
}
.solution-section-2-img > img {
  width: 90%;
}

.solution-section-2-content+.solution-section-2-img {
  margin-top: 3em;
}

.m_solution-section-1-content,
.m_solution-section-2-content,
.m_solution-section-2-img {
  display: none;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px) 반도체*/
@media all and (max-width: 767px) {
  .solution-section-1-wrapper,
  .solution-section-2-content,
  .solution-section-2-img {
    display: none;
  }

  .m_solution-section-1-content,
  .m_solution-section-2-content,
  .m_solution-section-2-img {
    display: block;
  }
  
  .solution-section-title {
    width: 80%;
    font-size: 0.8em;
    line-height: 1.3em;
    letter-spacing: -1px;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .solution-section-1 {
    height: auto;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .m_solution-section-1-content {
    width: 85%;
    font-size: 0.7em;
    line-height: 1.5em;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .solution-section-2 {
    background-color: #f2f1f1;
    height: auto;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .horizontal-line+.solution-section-2 {
    padding-top: 2em;
  }

  .vertical-line+.solution-section-2 {
    padding-top: 2em;
  }

  .m_solution-section-2-content {
    width: 85%;
    font-size: 0.7em;
    line-height: 1.5em;
    margin: 2em auto;
    text-align: left;
  }

  .m_solution-section-2-img {
    height: auto;
    text-align: center;
    margin-bottom: 2em;
  }

  .m_solution-section-2-img > img {
    width: 95%;
  }
}

