/* Reference */
.reference-section {
  padding-top: 1em;
  padding-bottom: 3em;
  margin: 0 auto;
  background: #f2f1f1;
  margin-top: 3em;
  margin-bottom: 3em;
}

.reference-title {
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  line-height: 1.8em;
  padding-top: 1.5em;
}

.reference-row {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reference-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 150px;
}

.reference-logo {
  width: 95%;
}

/* 레퍼런스 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .reference-section {
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 3em;
    margin: 0 auto;
    background: #f2f1f1;
    position: relative;
  }

  .reference-row {
    padding-top: 0em;
  }

  .reference-row>* {
    padding-top: 1em;
  }

  .reference-img-box {

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reference-title {
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
  }

  .reference-logo {
    width: 90%;
  }
}