.simple-inquiry-section {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 40em;
  max-width: 900px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.simple-inquiry-text {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
  color: #000;
}

.simple-inquiry-button-container {
  display: flex;
  justify-content: center;
}

.simple-inquiry-button {
  background: #ff0000;
  width: 300px;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 1.5em;
}

.m_simple-inquiry-text {
  display: none;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px) 반도체*/
@media all and (max-width: 767px) {
  .simple-inquiry-section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 3em;
    margin-top: 2em;
  }

  .m_simple-inquiry-text {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    font-size: 0.7em;
    line-height: 1.5em;
  }

  .simple-inquiry-button-container {
    display: flex;
    justify-content: center;
  }

  .simple-inquiry-button {
    background: #ff0000;
    width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-size: 0.8em;
    margin-top: 0.5em;
  }

  .simple-inquiry-text {
    display: none;
  }
}