.solutions-section {
  width: 1200px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 3em;
}

.solutions-title {
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 4.5em;
  line-height: 1.8em;
}

.solutions-tab-box-bg {
  width: 100%;
  height: 676px;
  background: url(../images/solutionbg.jpg);
  background-repeat: repeat;
  position: relative;
}

.solutions-tab-box-no-bg {
  width: 1096px;
  height: 556px;
  background-color: #fff;
  position: absolute;
  top: 60px;
  left: 52px;
  color: #474747;
  line-height: 1.3em;
}

.solutions-tab-box-inside {
  max-width: 100%;
  margin: 1em;
}

.solutions-tab-labels-wrapper {
  display: flex;
  justify-content: space-around;
  height: 120px;
  border-bottom: 1px solid #e4e3e3;
  width: 90%;
  margin: 0 auto;
}

.solutions-tab-label {
  width: 200px;
  font-size: 0.85em;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2em;
}

.solutions-tab-content-container {
  width: 100%;
  display: flex;
}

.solutions-tab-content-text {
  padding-top: 1.7em;
  padding-left: 2.3em;
  font-size: 0.85em;
}

.solutions-tab-content-img {
  width: 250px;
  margin-left: auto;
  padding-top: 3em;
  padding-right: 1em;
}

.solutions-tab-content-title {
  font-size: 1.35em;
  font-weight: 800;
  padding-top: 1em;
  padding-bottom: 1em;
}

.m-solutions-section {
  display: none;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .solutions-section {
    display: none;
  }

  .m-solutions-section {
    display: block;
  }

  .m_solutionbgbox {
    border-top: 30px solid #fd7834;
    border-bottom: 30px solid #fd7834;
    border-left: 25px solid #fd7834;
    border-right: 25px solid #fd7834;
  }

  .m_solutions-content {
    margin-bottom: 2em;
    margin: 0;
    padding: 0;
  }

  .solutions-title {
    font-weight: 600;
    font-size: 0.9em;
    margin-top: 2.5em;
    margin-bottom: 1em;
    line-height: 1.3em;
    letter-spacing: -1.5px;
  }

  .m_solution-title {
    font-weight: 100;
    font-size: 0.7em;
    margin-top: 2em;
    line-height: 1.3em;
    letter-spacing: -1.5px;
    text-align: center;
  }

  .solutions-tab-content-title {
    font-size: 1em;
    font-weight: 800;
    padding-top: 0.1em;
    padding-bottom: 0;
    color: #fa453a;
    text-align: center;
  }

  .solutions-tab-content-text1 {
    width: 75%;
    font-size: 0.7em;
    line-height: 1.5em;
    letter-spacing: -1px;
    border-bottom: 1px solid #fd7834;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0;
    margin: 0 auto;
  }

  .solutions-tab-content-text {
    width: 75%;
    font-size: 0.7em;
    line-height: 1.5em;
    letter-spacing: -1px;
    border-bottom: 1px solid #fd7834;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0.7em;
    margin: 0 auto;
  }

  .solutions-tab-content-text2 {
    width: 75%;
    font-size: 0.7em;
    line-height: 1.5em;
    letter-spacing: -1px;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0;
    margin: 0 auto;
  }

  .solutions-tab-content-img {
    height: auto;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }

}