.top-image-container {
  height: 430px;
  text-align: center;
  margin-bottom: 2em;
}

.top-image-section-box {
  width: 100%;
  text-align: center;
  color: #fff;
  padding-top: 170px;
}

.top-image-section-box>h2 {
  padding-bottom: 0.5em;
}

.top-image-section-box>p {
  font-weight: 100;
  line-height: 1.3em;
  font-size: 0.9em;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px) topimg*/
@media all and (max-width: 767px) {
  .top-image-container {
    height: 300px;
    
  }

  .top-image-section-box {
    width: 80%;
    height: auto;
    padding-top: 100px;
    margin: 0 auto;
  }

  .top-image-section-box>h2 {
    font-size: 1.2em;
  }

  .top-image-section-box>p {
    font-size: 0.7em;
  }
}